@import url(font.css);

/*

font-family: Montserrat-Black;
font-family: Montserrat-BoldItalic;
font-family: Montserrat-Regular;
font-family: Montserrat-SemiBold;

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--mr);
}

:root{
    --mb: Montserrat-Black;
    --mbi: Montserrat-BoldItalic;
    --mr: Montserrat-Regular;
    --msb: Montserrat-SemiBold;
}

body{
    background: #151437;
}

.navbar-content{
    justify-content: space-between;
}

.my-navbar-collapse{
    flex-grow: 0;
}

.my-nav-link{
    color: #7177F1;
    font-sIze: 24px;
    text-transform: capitalize;
    padding: 10px 43px !important;
    transition: 500ms;
    border-radius: 8px;
}
.my-nav-link:hover{
    background: #7177F1;
    color: white;
}

.my-navbar-nav{
    gap: 10px;
}

.nav-item:last-child .my-nav-link:hover{
    background: transparent;
    box-shadow: none;
}

.slider-img{
    float: right;
}

.slider-content{
    left: 0;
    right: 0;
    top: 0;
    text-align: left;
}

.slider-content span{
    color: #EBEBEB;
    font-family: var(--msb);
    text-transform: capitalize;
    font-size: 24px;
}
.slider-content h1{
    margin-top: 10px;
    margin-bottom: 25px;
    text-transform: capitalize;
    color: #7177F1;
    line-height: 50px;
    font-size: 40px;
    max-width: 520px;
    font-family: var(--msb);
}

.main-btn{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px 28px;
    background: #7177F1;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    margin-left: 220px;
}
.slider-images{
    margin-top: 50px;
}

.slider-indicators{
    bottom: -100px;
    gap: 30px;
}
.slider-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    opacity: 1;
}
.slider-indicators .active{
    background-color: #7177F1;
    transition: 500ms;
}

.header{
    position: relative;
}
.box1{
    position: absolute;
    top: 28px;
    left: 17px;
    animation: rotate 10s infinite;
}
.circle1{
    position: absolute;
    top: -40px;
    left: 244px;
    animation: rotate 100s infinite;
}
.circle2{
    position: absolute;
    top: 260px;
    right: 635px;
    animation: rotate 100s infinite;
}
.box2{
    position: absolute;
    top: 17px;
    right: 159px;
    animation: rotate 100s infinite;
}
.box3{
    position: absolute;
    right: 300px;
    bottom: 115px;
    animation: rotate 100s infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg)};
}

.my-work{
    margin-top: 150px;
    position: relative;
}
.splash1{
    position: absolute;
    right: 0;
    top: -100%;
    z-index: -1;
}
.my-work-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-work-card{
    padding: 30px 30px 100px 30px;
    background: #151437;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    max-width: 638px;
}
.my-work-card h2{
    font-family: var(--msb);
    font-size: 48px;
    text-transform: capitalize;
    color: #7177F1;
    margin-bottom: 28px;
}
.my-work-card p{
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 38px;
}
.my-work-card .main-btn{
    margin-left: 75px;
    width: max-content;
    text-transform: uppercase;
}

.main-title{
    font-family: var(--msb);
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #7177F1;
    margin-top: 75px;
    margin-bottom: 38px;
}

.cap-content{
    display: flex;
    align-items: center;
    gap: 30px;
}
.cap-acc{
    width: 630px;background: #151437;
    box-shadow: 0px 0px 5px 3px rgba(113, 117, 241, 0.15);
    border-radius: 8px;
}

.acc-btn{
    background: #151437;
    color: #7177F1;
    font-family: var(--mb);
    font-size: 18px;
    text-transform: uppercase;
}
.acc-item{
    border: none;
    background: #7177F1;
    color: white;
}
.acc-btn:focus{
    box-shadow: none;
}
.acc-btn:not(.collapsed){
    background: #7177F1;
    color: white;
    box-shadow: none;
}
.acc-btn::after{
    background-image: url(img/arrow.svg);
    transition: 200ms;
}
.acc-btn:not(.collapsed)::after{
    background-image: url(img/arrow2.svg);
    transform: rotate(180deg);
    transition: 200ms;
}

.acc-item .accordion-body{
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: white;
}

.mytab-content_btns{
    background: #151437;
    border-radius: 17px;
}
.mytab-content_btns button{
    width: 300px;
    text-align: left;
    padding: 19px 20px;
    font-family: var(--msb);
    font-size: 18px;
    text-transform: uppercase;
    color: #7177F1;
    background: #151437;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    line-height: 22px;
    border-radius: 0;
}
.mytab-content_btns .active{
    color: #151437 !important;
    background: #7177F1 !important;
}
.mytab-content_btns button:hover{
    color: #7177F1;
}

.my-tabpane_content h3{
    font-family: var(--msb);
    font-size: 24px;
    text-transform: capitalize;
    color: #7177F1;
}
.my-tabpane_content p{
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 20px 0 30px 0;
}
.my-tabpane_content a{
    width: max-content;
    text-transform: capitalize;
    margin-left: 40px;
}
.my-tabpane.active{
    display: flex;
    gap: 30px;
    padding: 20px 30px 20px 20px;
    background: #151437;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
}

.mytab-content_btns button:first-child{
    border-radius: 14px 0 0 0 !important;
}
.mytab-content_btns button:last-child{
    border-radius: 0 0 0 14px !important;
}

.mytab{
    position: relative;
}
.splash2{
    position: absolute;
    left: 0;
    top: -50%;
    z-index: -1;
}

.box4{
    position: absolute;
    right: 90px;
    bottom: 0;
    animation: rotate 10s infinite;
}
.circle3{
    position: absolute;
    right: 40%;
    bottom: -30%;
    animation: rotate 100ms infinite;
}

footer{
    padding: 150px 0;
    margin-top: 120px;
}
.footer-content{
    display: flex;
    justify-content: flex-end;
}
.footer-nav_content{
    width: 630px;
}
.footer-nav_list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 70px;
    list-style: none;
    justify-content: center;
}
.footer-nav_list-link{
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    text-transform: none;
}